{% extends "base.twig" %}

{% block content %}
    <div class="home"><span>{{ login }}</span>, это ваш личный кабинет и рядом кнопка <a href="/logout">
            <button>«Выйти»</button>
        </a></div>
{% endblock %}